body {
  background-color: #111111;
  color: white;
  max-width: 850px;
  margin: 40px auto;
}

#ratio-matcher {
  .legend {
    display: flex;
  }

  .descriptor {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  #closest-yet-descriptor {
    margin-left: auto;
  }

  .legend p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .gradient-border {
    display: inline-flex;
    border: 1px solid white;
  }

  .square {
    width: 20px;
    height: 20px;
  }

  #calculations-scroll {
    max-height: 500px;
    overflow-y: auto;
    display: inline-block;
  }

  #calculations {
    /* Only way to have bordered sticky headers is through separate borders */
    border-collapse: separate;
    border-spacing: 0;

    td, th {
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      padding: 5px;
    }

    th {
      /* sticky header */
      position: sticky;
      top: 0px;

      background-color: black;

      border-top: 1px solid white;
    }

    th.legend-header {
      font-weight: normal;

      border-bottom: 0;
    }

    td:first-child, th:first-child {
      border-left: 1px solid white;
    }

    tr.closestYet {
      background-color: #BA8E23;
    }

    tr:not(.closestYet) {
      /* Calculate color based on closeness to 0 */
      background-color: hsl(120deg, 50%, var(--lightness-value));
    }
  }
}
