body {
  background-color: #111111;
  color: white;
  max-width: 850px;
  margin: 40px auto;
}


#ratio-matcher {
  input, select, button {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #666666;
  }

  button:hover {
    background-color: #222222;
  }

  input:invalid {
    background-color: #cc0000;
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .dotted-underline {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: white;
  }

  .warning {
    color: red;
  }

  .legend {
    display: flex;
  }

  .descriptor {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }

  #closest-yet-descriptor {
    margin-left: auto;
  }

  .legend p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .gradient-border {
    display: inline-flex;
    border: 1px solid white;
  }

  .square {
    width: 20px;
    height: 20px;
  }

  #calculations-scroll {
    max-height: 500px;
    overflow-y: auto;
    display: inline-block;
  }

  #calculations {
    /* Only way to have bordered sticky headers is through separate borders */
    border-collapse: separate;
    border-spacing: 0;

    td, th {
      border-bottom: 1px solid white;
      border-right: 1px solid white;
      padding: 5px;
    }

    th {
      /* sticky header */
      position: sticky;
      top: 0px;

      background-color: black;

      border-top: 1px solid white;
    }

    th.legend-header {
      font-weight: normal;

      border-bottom: 0;
    }

    td:first-child, th:first-child {
      border-left: 1px solid white;
    }

    tr.bestYet {
      background-color: #BA8E23;
      font-weight: 900;
    }

    tr:not(.bestYet) {
      /* Calculate color based on closeness to 0 */
      background-color: hsl(120deg, 50%, var(--lightness-value));
    }
  }
}
